body
{
	background: #0d0d0d;
	color: #ddd;
	font-family: "lucida grande", geneva, verdana, arial, sans-serif;
	font-size: 11px;
	text-align: center;
}

h1, h2, h3
{
	color: #e30;
	font-weight: normal;
	text-align: left;
}

a
{
	color: #aaa;
}
a:hover
{
	color: #ddd;
}
p
{
	line-height: 1.5em;
}

canvas
{
	border: 1px dotted #444;
}

button
{
	width: 512px;
	text-align: center;
	margin: 0.5em;
	margin-top: 1em;
	padding: 0.3em 5em;
	font-size: 16px;
	background: #222;
	color: #eee;
	margin: auto;
	-moz-border-radius: 3px;
	border: 1px solid #444;
}

button:hover
{
	background: #333;
}

#main
{
	width: 512px;
	margin: auto;
	text-align: left;
}
#login-status
{
	text-align: right;
}
