<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
        <title>sfit</title>
        <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="/media/js/processing-0.9.js"></script>
	<script type="text/javascript" src="/media/js/sfit.js"></script>
</head>
<body>
<div id="main" class="result">
    <h1>{% block title %}sfit{% endblock %}</h1>
    {% block login %}
    <div id="login-status">
        <p>{{ auth.user }} | <a href="/users/logout/">logout</a></p>
    </div>
    {% endblock login %}
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div id="status">
        {% block status %}
        {% endblock status %}
    </div>
</div>
</body>
</html>
