<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
        <title>sfit</title>
        <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="/media/js/processing-0.9.js"></script>
	<script type="text/javascript" src="/media/js/sfit.js"></script>
</head>
<body>
<div id="main" class="result">
    <h1>{% block title %}sfit{% endblock %}</h1>
    {% block login %}
    <div id="login-status">
        <p>{{ auth.user }} | <a href="/users/logout/">logout</a></p>
    </div>
    {% endblock login %}
    <div id="content">
        {% block content %}
        <p>
        Welcome to the t-shirt designer, a micro-project produced as part of the SFI Complex Systems Summer School 2010. Through this interface, you can make changes to your design, which will be one part of a larger piece.
        </p>
        <canvas id="canvas" width="512" height="512"></canvas>
        <form action="/grid/api/tshirt/" id="form" method="post">
		<input type="hidden" id="edges_h" name="edges_h" />
		<input type="hidden" id="edges_v" name="edges_v" />
		<input type="hidden" id="diag_se" name="diag_se" />
		<input type="hidden" id="diag_sw" name="diag_sw" />
		<input type="hidden" id="cell" name="cell" />
		<button onclick="return false" id="save">save</button>
	</form>
        {% endblock content %}
    </div>
    <div id="status">
        {% block status %}
        {% endblock status %}
    </div>
</div>
</body>
</html>
